<<<<<<< HEAD
body { 
=======
body {
>>>>>>> 527daceb6555c99d3093464ace88f86619db2d1b
  font-family: verdana; 
  font-size: 80%;
  text-decoration: none;
  color: #555753; 
  background: #ffffff;
<<<<<<< HEAD
  margin: 0px; 
=======
  margin: 0px;
>>>>>>> 527daceb6555c99d3093464ace88f86619db2d1b
}

.tagline {
	color: grey;
<<<<<<< HEAD
=======
	font-size: 100%;
>>>>>>> 527daceb6555c99d3093464ace88f86619db2d1b
}

#logo {
	float: right;
}

input[type=submit], input[type=button] {
	border: 0;
	color:#205C90;
	padding:0.25em 0.5em;
	background:none repeat scroll 0 0 #DDDDDD;
	font-size: 1em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	cursor: pointer;
}